<!doctype html>

{% extends 'layout.html' %}

{% block body %}
<div class='jumbotron text-center'>
  <h1>Welcome</h1>
  <p>This web app lets a user Select books from a google book api search<br>
  You can register and login to the app at the homepage<br>
  When books are selected they are store in a database<br>
  At the request of the user, the titles, authors and images of the books<br>
  Can be sent through email to the user<br>
  A guest may log in to get a list of books to read as well<br><br><br>
  Cody
  </p>
</div>
{% endblock %}
