<!doctype html>

{% extends 'layout.html' %}

{% block body %}

<div class='jumbotron text-center'>
  <h1>Delete Account</h1>
  <p class='Username:'>Username: {{session.username}}</p>
  <p class='Password:'>Enter Password to Delete Acount</p>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method='POST' action=''>
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>

    <div>
    <p><input type="submit" class='btn btn-primary' value="Submit"></p>
    </div>
  </form>
</div>

{% endblock %}
