<!doctype html>

{% extends 'layout.html' %}

{% block body %}
  <div class='jumbotron text-center'>
    <h1>Welcome to Books Id Like to Read</h1>
    <p class='lead'>Gather books youd like to read. Send yourself a books-to-read-list</p>
  </div>

{% for book in books['items'] %}

    <div class="well well-lg text-center" >

          <div>
              <h2>{{ book.volumeInfo.title }}</h2>
          </div>
          {% if book.volumeInfo.authors %}
            {% for author in book.volumeInfo.authors %}
            <div>
              <span>{{ author }}</span>
            </div>
            {% endfor %}
          {% else %}
            <div>
              <span>No Author</span>
            </div>
          {% endif %}
          <div>
            {% if book.volumeInfo.imageLinks %}
              <img class="card-img" src={{ book.volumeInfo.imageLinks.smallThumbnail }}>
            {% endif %}
          </div>

          <div class="card">
          <!-- <h5 class="card-title">{{ book.volumeInfo.title }}</h5> -->
            <p class="card-text">{{book.volumeInfo.description}}</p>
            {% if session.logged_in %}
              {% if book.volumeInfo.authors %}
              <a href="{{ url_for('redir', title=book.volumeInfo.title, author=book.volumeInfo.authors, googleID=book.id) }}" class="btn btn-primary">Add to List</a>
              {% else %}
              <a href="{{ url_for('redir', title=book.volumeInfo.title, author='No Author Listed', googleID=book.id) }}" class="btn btn-primary">Add to List</a>
              {% endif %}
            {% else %}
              <a href="{{ url_for('login') }}" class="btn btn-primary">Login to Add to List</a>
            {% endif %}
          </div>
      </div>

{% endfor %}
{% endblock %}
