<!doctype html>

{% extends 'layout.html' %}

{% block body %}
  <div class='jumbotron text-center'>
    <h1>Welcome to Books Id Like to Read</h1>
    <p class='lead'>This App lets you search for books and email yourself a list</p>
  </div>
  <div class='search'>
    <fieldset>
      Search:<br>
      <input type="text" name="search" value="Search For a Book">
      <input type="submit" name="submit" value="Go!">
    </fieldset>
  {% for book in books['items'] %}

  <div class="card text-center" >
  <!-- style="width: 200rem;"> -->
    <div class="card-header">
      <h2 class='card-title'>{{ book.volumeInfo.title }}</h2>
    </div>
    <div class=card-img-left>
    {% if book.volumeInfo.imageLinks %}
      <img class="card-img" src={{ book.volumeInfo.imageLinks.smallThumbnail }}>
    {% endif %}
    </div>
    <div class="card">
      <!-- <h5 class="card-title">{{ book.volumeInfo.title }}</h5> -->
      <p class="card-text">{{book.volumeInfo.description}}</p>
      {% if session.logged_in %}
      <a href="#" class="btn btn-primary">Add to List</a>
      {% else %}
      <a href="#" class="btn btn-primary">Login to Add to List</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
