<!doctype html>

{% extends 'search.html' %}
  {% block upperbody %}
  {% if books['totalItems'] != 0 %}

  {% for book in books['items'] %}

  <div class="card text-center" >
  <!-- style="width: 200rem;"> -->
    <div class="card-header">
      <h2 class='card-title'>{{ book.volumeInfo.title }}</h2>
    </div>
    <div class=card-img-left>
    {% if book.volumeInfo.imageLinks %}
      <img class="card-img" src={{ book.volumeInfo.imageLinks.smallThumbnail }}>
    {% endif %}
    </div>
    <div class="card">
      <!-- <h5 class="card-title">{{ book.volumeInfo.title }}</h5> -->
      <p class="card-text">{{book.volumeInfo.description}}</p>
      {% if session.logged_in %}
      <a href="{{ url_for('redir', title=book.volumeInfo.title, author=book.volumeInfo.authors, googleID=book.id) }}" class="btn btn-primary">Add to List</a>

      {% else %}
      <a href="/login" class="btn btn-primary">Login to Add to List</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="no_results">
    <p>No Results</p>
  </div>
  {% endif %}

  {% endblock %}
